<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <header>
        <h1 class="heading">Welcome to Celescadev Platform</h1>
    </header>
    <div>Error</div>

    <button><a href="/">Go to Login Page</a></button>
    
</body>
</html>