<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1 class="heading">Welcome to Celescadev Platform</h1>
    </header>

    <h1 class="heading">This is the home page.</h1>

    <h2>You are currently log in to this website</h2>

    <form action="/logout" method="post">
        <input class="logout-btn" type="submit" value="Log out"></input>
    </form>

</body>
</html>
