<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1 class="heading">Welcome to Celescadev Platform</h1>
    </header>
    <h2>Login in to continue</h2>
    <div class="container">
        <form class="basic-form" action="/login/password" method="post">
            <section class="username-form">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required autofocus>
            </section>
            <section class="password-form">
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <button class="login-btn" type="submit">Sign in</button>
        </form>
        <div class="sign-up-form">Don't have account? <a href="/signup">Sign up</a></div>
        
        <div>or continue with ..</div>
        <div class="social-container">
            <button class="social-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png"
                    alt="google-logo" class="social-logo" width="20px">
                <a href="/login/federated/google">Sign in with Google</a>
            </button>
            <button class="social-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png"
                    alt="facebook-logo" class="social-logo" width="20px">
                <a href="/login/federated/facebook">Sign in with Facebook</a>
            </button>
        </div>
    </div>
</body>
</html>